
body{
    overflow-x: hidden;
}
header {
    margin: -170px -10px;
    padding: 20px 1500px 20px 20px;
    background-color: rgb(156, 253, 0);
    position: fixed;
    z-index: 3;
}
aside{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 200px;
    z-index: 2;
}
nav {
    display: flex;
    margin-top: 150px;
}
ul {
    list-style: none;
    display: flex;
    margin: 100px 0px 70px 500px;
}
li {
    color: black;
    margin-right: 50px;
}
a {
    text-decoration: none;
}
footer {
    background-color: rgb(156, 253, 0);
    margin-top: 50px;
    padding: 0px 1500px 20px 470px;
    margin: 20px 0px -20px -20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
section {
    margin-left: 10px;
}

#logo {
    position: absolute;
    max-width: 60px;
    max-width: 60px;
    background: transparent;
    animation: batida 1s infinite;
}
@keyframes batida {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1) ;
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1) ;
    }
    90% {
        transform: scale(1);
    }
}
#menu {
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    margin-left: 1200px;
    margin-top: -40px;
}
#pesquisa {
    width: 350px;
    height: 25px;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 465px;
}
#pesquisaLogo {
    position: relative;
    width: 25px;
    height: 25px;
    margin:-32px 800px;
}
#pesquisaForm {
    z-index: 8;
}
#tituloPromo {
    margin: 170px 0px 30px 75px;
}
.vendaLivro{
    margin: 30px 0px 0px 30px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    width: 260px;
    height: 450px;
    display: inline-block;
}
.vendaLivro:hover {
    cursor: pointer;
    transition: 2s;
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(0,0,0,0.8);
}
.vendaLivro:active {
    transition: 1.5s;
    transform: scale(0.93);
}
.livro {
    padding-left: 25px;
    width: 200px;
    height: 250px;
}
.precoAlto {
    text-decoration: line-through;
}
#secaoPrincipal {
    margin: 75px 0px 35px 75px;
}
#contats {
    margin: 18px 0px 0px 180px;
}
.contato {
    color: blue;
    white-space: nowrap; 
    display: block;
}
.contato:hover {
    color: rgb(87, 0, 87);
}
.contato:active {
    transition: 2s;
    transform: scale(0.93);
}
.redeSocial {
    margin-right: -50px;
    margin-left: 100px;
}
